# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. mathplotlib
2. pyplot
3. numpy
4. pandas

| Data Science Tools |
-------------------------
|JupyterLab|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [6]:
hour_min = 60
minutes = 200
round(minutes/hour_min,2)

# This will convert 200 minutes to hours by diving by 60

3.33

**Objectives:**
- R
- Python
- Scala
- Ruby

## Author
Name: Mani Bojja